
.game-info-container{
	height: 60px;
	background-color: gray;
	margin: 0 0 10px 0;
	display: block;
}

.section{
	display: inline-block;
	text-align: center;
	width: 25%;
	position: relative;
	top: 10px;
	color: #DDD;
	float: left;
}

.section .div {
	display: inline;
	font-weight: bold;
	color: white;
}

.form-container{
	text-align: center;
	margin: 0 auto;
}
